# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
azimutt.py
# Go build/cache artifacts
bin/
dist/
coverage.out
*.coverprofile
node_modules/
frontend/node_modules/
build/
uploads/

# Vendor (uncomment if you don't commit vendor)
# vendor/

# Environment and secrets
.env
.env.*
!.env.example

# IDE/editor
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Temporary files
tmp/
temp/
## Local weekly reports
#weekly_reports_petrov/



backups/
data/
ej-db/
ejvenv/
internal/app/svc_bckp
parser
parsers/
ssl/
certbot/
tests/karate.jar
tests/target/
schema.dbml
